<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TestsManGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TestsManGUI.Properties.Settings>
            <setting name="N1" serializeAs="String">
                <value />
            </setting>
            <setting name="N2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="N3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="N4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Ch1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Ch2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Ch3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Ch4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Ch5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Ch6" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Ch7" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Ch8" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Ch9" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Ch10" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Ch11" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Ch12" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Ch13" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Ch14" serializeAs="String">
                <value>False</value>
            </setting>
        </TestsManGUI.Properties.Settings>
    </userSettings>
</configuration>